@import 'tailwindcss';

.container {
  width: 1240px;
  margin: 0 auto;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: linear-gradient(154.16deg, #85fed6, #4edaac 100%);
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 0 6px #00f5c0;
  cursor: pointer;
}
